body{
  padding:0;
  margin:0;
  font-family:Ubuntu, "Segoe UI", Roboto, sans-serif;
  box-sizing:border-box;
--font-family:Ubuntu, "Segoe UI", Roboto, sans-serif;
--Blue-950: hsl(213, 96%, 18%);
--Purple-600: hsl(243, 100%, 62%);
--Blue-300: hsl(228, 100%, 84%);
--Blue-200: hsl(206, 94%, 87%);
--Red-500: hsl(354, 84%, 57%);
--Grey-500: hsl(231, 11%, 63%);
--Purple-200: hsl(229, 24%, 87%);
--Blue-100: hsl(218, 100%, 97%);
--Blue-50: hsl(231, 100%, 99%);
 
}
/* Navigation bar */
.step-display{
  display:flex;
  justify-content:center;
  align-items: center;
  background:url(/images/bg-sidebar-mobile.svg);
  background-size:cover;
  min-height:15vh;
  max-height:300px;
  color:white;
}
  .nav-indicator{
    display:inline-block;
    margin:0 .75rem;
    border:solid 2px var(--Blue-200);
    width:1.25rem;
    height:1.25rem;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  /* Form Styles */
  .form{
    background-color:var(--Blue-200);
    padding:2rem 0;
  }
  /* Form step styles */
  .form-step{
    width:90vw;
    max-width:400px;
    margin:1rem auto;
    border-radius:10px;
    background-color: white;
    padding:0.75rem 0.5rem;
    display:none;
  }
  .form-step h2{
    font-weight:900;
  }
  .form-step input{
    display:block;
    margin-bottom:1rem;
    height:2rem;
    width:90%;
    border:solid 1px var(--Grey-500);
    padding-left:.5rem;
    border-radius:5px;
    font-family:var(--font-family);
    }
  .show-step{
    display:block;
  }
  /* STYLES FOR SOECIFIC STEPS */
  
.stage-three input[type="checkbox"], .stage-two input[type="checkbox"]{
    opacity:0;
    height:0;
    width:0;
  } 
  label{
    display:block;
  }
  label:has(input:checked){
    border:solid 5px blue;
    border-radius:1rem;
  }

  
  /* Form Footer Styles */
  .form-footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
/* Slider Styles on Step 2*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Responsive Design */ 
@media only screen and (max-width:600px){
  .nav-heading, .nav-text{
    display:none;
  }

}