body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, "Segoe UI", Roboto, sans-serif;
  box-sizing: border-box;
  --font-family: Ubuntu, "Segoe UI", Roboto, sans-serif;
  --h-bold: 500;
  --Blue-950: hsl(213, 96%, 18%);
  --Purple-600: hsl(243, 100%, 62%);
  --Blue-300: hsl(228, 100%, 84%);
  --Blue-200: hsl(206, 94%, 87%);
  --Red-500: hsl(354, 84%, 57%);
  --Grey-500: hsl(231, 11%, 63%);
  --Purple-200: hsl(229, 24%, 87%);
  --Blue-100: hsl(218, 100%, 97%);
  --Blue-50: hsl(231, 100%, 99%);
}
/* Form Container */

/* Navigation bar */
.step-display {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/bg-sidebar-mobile.svg);
  background-size: cover;
  min-height: 15vh;
  max-height: 300px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding-top: 1rem;
}
.step-display div {
  margin: 0 1rem;
  text-align: center;
}
.nav-indicator {
  margin: 0 auto;
  border: solid 2px var(--Blue-200);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-step{
  background-color: var(--Blue-200);
  color:var(--Blue-950);
  font-weight:600;
}
/* Form Styles */
.form {
  background-color: var(--Blue-200);
  padding-top: 20vh;
  /* min-height: 95vh; */
  z-index: -1;
}
/* Form step styles */
.form-step {
  width: 90vw;
  max-width: 400px;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: var(--Blue-50);
  padding: 1rem 1.25rem;
  display: none;
  position: relative;
  z-index: 2;
}
.form-step h2 {
  font-weight: 900;
}
.form-step input[type="text"] {
  display: block;
  margin-bottom: 1rem;
  height: 2rem;
  width: 90%;
  border: solid 1px var(--Grey-500);
  padding-left: 0.5rem;
  border-radius: 5px;
  font-family: var(--font-family);
}
.show-step {
  display: block;
}
/* STYLES FOR SOECIFIC STEPS */

.stage-two input[type="checkbox"] {
  opacity: 0;
  height: 0;
  width: 0;
}
label {
  display: block;
}
label:has(input:checked):not(.switch) {
  border: solid 2px blue;
  border-radius: 1rem;
  background-color: var(--Blue-300);
}
.stage-two label:not(.switch),
.stage-three label {
  border: solid 2px var(--Grey-500);
  border-radius: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.stage-two .plan-type-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Grey-500);
  background-color: var(--Purple-200);
  font-weight: 600;
}
.mo,
.yr {
  margin: 1rem 0.75rem;
}
.current-planType {
  color: var(--Blue-950);
}
.stage-three label {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
}
.stage-three input[type="checkbox"] {
  height: 1.75rem;
  width: 1.75rem;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}
.stage-three .wrapper {
  grid-column: 2;
}
.stage-three label > p {
  grid-column: 3;
  align-self: center;
  justify-self: center;
}
.stage-four .summary-container {
  background-color: var(--Blue-100);
}
.stage-four .addon,
.plan-summary,
.total-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.plan-header {
  text-transform: capitalize;
}
.plan-header,
.plan-price {
  color: var(--Blue-950);
}
.plan-price,
.total-price {
  font-weight: 500;
}
.plan-summary button {
  border: none;
  background-color: white;
  color: var(--Grey-500);
  text-decoration: underline;
  padding-left: 0;
  margin-left: 0;
}
.addon-name,
.total-text {
  color: var(--Grey-500);
  text-transform: capitalize;
}
.addon-price,
.total-price {
  color: var(--Purple-600);
}
.plan-price,
.addon-wrapper,
.addon-price,
.summary-wrapper,
.addon-wrapper,
.total-price {
  align-self: center;
}
.plan-price,
.addon-price,
.total-price {
  text-align: right;
}
.addon-wrapper,
.summary-wrapper,
.total-text {
  grid-column: 1;
}

.summary-total,
.total-price,
.addon-price {
  grid-column: 2;
}
/* Form Footer Styles */
.form-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Blue-50);
  height: clamp(50px, 10vh, 170px);
}
.form-footer button {
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 0.75rem 0.5rem;
}
.next-step-btn {
  background-color: var(--Blue-950);
  color: var(--Blue-50);
  border-radius: 5px;
}
.back-btn {
  background-color: white;
  color: var(--Grey-500);
}
/* Slider Styles on Step 2*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--Blue-950);
}

input:focus + .slider {
  box-shadow: 0 0 1px (--Blue-950);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .nav-heading,
  .nav-text {
    display: none;
  }
}
/* RESPONSIVE DESIGN */
@media only screen and (max-width: 650px) {
  .form {
    min-height: 95vh;
  }
  .stage-two label {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
  }
  .plan-icon {
    grid-column: 1;
    align-self: center;
    justify-self: center;
  }
  .stage-two label p,
  .stage-two label input {
    grid-column: 2;
  }

  .stage-four .addon,
  .plan-summary,
  .total-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .plan-header {
    text-transform: capitalize;
  }
  .plan-header,
  .plan-price {
    color: var(--Blue-950);
  }
  .plan-price,
  .total-price {
    font-weight: 500;
  }
  .plan-summary button {
    border: none;
    background-color: white;
    color: var(--Grey-500);
    text-decoration: underline;
    padding-left: 0;
    margin-left: 0;
  }
  .addon-name,
  .total-text {
    color: var(--Grey-500);
    text-transform: capitalize;
  }
  .addon-price,
  .total-price {
    color: var(--Purple-600);
  }
  .plan-price,
  .addon-wrapper,
  .addon-price,
  .summary-wrapper,
  .addon-wrapper,
  .total-price {
    align-self: center;
  }
  .plan-price,
  .addon-price,
  .total-price {
    text-align: right;
  }
  .addon-wrapper,
  .summary-wrapper,
  .total-text {
    grid-column: 1;
  }

  .summary-total,
  .total-price,
  .addon-price {
    grid-column: 2;
  }
}
@media only screen and (min-width: 650px) {
  #root {
    background-color: var(--Blue-200);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
  }
  .form-container {
    display: grid;
    grid-template-columns: 35% 65%;
    width: clamp(400px, 80vw, 850px);
    min-height: 600px;
    background-color: white;
    padding: 0.75rem;
    border-radius: 15px;
  }
  .step-display {
    position: static;
    grid-column: 1;
    flex-direction: column;
    background-image: url("/public/images/bg-sidebar-desktop.svg");
    max-height: 100%;
    border-radius: 10px;
  }
  .step-display-step {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width:70%;
  }
  .nav-indicator {
    grid-column: 1;
    align-self: center;
    justify-self: center;
    height:2rem;
    width:2rem;
  }
  .step-wrapper {
    grid-column: 2;
    align-self: center;
    justify-self: center;
  }
  .form {
    background-color: white;
    grid-column: 2;
    z-index: 1;
    min-height: auto;
    padding: 0;
    width: 100%;
    position:relative;
  }
  .form-footer{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
  }
  .form-step {
    width: auto;
  }
  /* STEP 2 FORM FIELD WRAPPER */
  .stage-two article,
  .stage-three article {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .stage-two label:not(.switch) {
    padding: 0.75rem;
  }
  .arcade-label {
    grid-column: 1;
  }
  .advanced-label {
    grid-column: 2;
  }
  .pro-label {
    grid-column: 3;
  }
  /* STEP 3 FORM FIELD WRAPPER */
  .stage-three article {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
  }
  .stage-three label {
    height: 80%;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .online-service {
    grid-row: 1;
  }
  .larger-storage {
    grid-row: 2;
  }
  .custom-profile {
    grid-row: 3;
  }
}
